LINE_CHANNEL_SECRET=d190a48512c1ba5812bc17492da2471a
LINE_CHANNEL_ACCESS_TOKEN=UA14134c9ba22c6f73b02afc78091f965
GEMINI_API_KEY=AIzaSyCkIppcVJqx-cnQRPm7AnMsWvaWLL6wPaw
GOOGLE_SHEET_ID=（下一步填）
GOOGLE_SERVICE_ACCOUNT_JSON=（下一步填）
